/* CSS RESET */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*BARRA LATERAL */
.leftbar {
  height: 100vh;
  width: 350px;
  background-color: #23222A;
  position: fixed;
	z-index: 1;
	border-right: solid 1px #3D3B49;
}

/*BARRA DO PERFIL */
.divPerfil {
  display:  flex;
  width: 100%;
  height: 50px;
  margin-top: 30px;
  margin-left: 15px;
  align-items: center;
	#FF6F00;
}

.icons {
  display: flex;
  align-content: flex-end;
  margin-left: 170px;
}
#iconPerfil {
  width: 30px;
  height: 30px;
}

#seuPerfil {
  margin-left: 15px;
  font-size: 15px;
	color: #FF6F00;
}

#icons {
  width: 20px;
  height: 20px;
	cursor: pointer;
}

/* BARRA DE PESQUISA */

#barraBusca {
  width: 250px;
  display: flex;
  align-self: center;
  margin: 30px auto 30px auto;

}

#barraBusca input{
    width: 235px;
    height: 15px;
		border: solid 1px #3D3B49;
    border-radius: 50px 0px 0px 50px;
		border-right: 0px;
		background-color: #23222A;
		color: #FF7200;
}

#barraBusca input:focus{
	outline: none;
}

#barraBusca img {
  width: 15px;
  height: 15px;
  align-self: center;
  background-color: #23222A;
  padding: 1px;
	border: solid 1px #3D3B49;
  border-radius: 0px 50px 50px 0px;
	border-left: 0px;
}

input #barraBusca:focus{
  outline:none;    /* oranges! yey */
}

.divBusca{
  align-items: center;
  width: 100%;
}

/* BARRA DE USUÃRIOS */

.userBar ul{
	height: calc(100vh - 161px);
  overflow-y: scroll;
  overflow-x: hidden;
	display: flex;
	flex-direction: column;
}

.userBar ul li{
  height: 70px;
	max-height: 70px;
  background-color: #302F3A;
  border-top: solid 2px #FF7200;
  border-left: solid 2px #FF7200;
  border-right: solid 2px #FF7200;
  display: flex;
	flex: 1;
	cursor: pointer;
	color: #FF7200;
}

.userBar ul li:hover {
	background-color: #3D3B49;
}

.userBar ul li.selectedChat{
  background-color: #3D3B49;
}

.userBar ul li img {
  width: 50px;
  height: 50px;
  border: solid 10px transparent;
}

.userBar ul li:last-of-type {
  border-bottom: solid 2px #FF7200;
}

.nome {
  display: block;
  margin-top: 10px;
  height: 20px;
  font-size: 24px;
}

.blockedUser{
	color: red;
}

.mensagem {
  display: block;
  margin-top: 10px;
}

.texto {
  flex-flow: column nowrap;
}

.teste {
	z-index: 30;
  background-color: #1a1a1a;
  width: 350px;
  height: 100vh;
	top: 0px;
  position: fixed;
  animation-name: vempaca;
  animation-duration: 300ms;
  animation-fill-mode: forwards;
  animation-delay: 1s;
  left: -350px;
	visibility: hidden;
	display: block;
	color: #FF7200;
}

.addFriendContainer {
	height: 80%;
}

.createCommunityContainer
{
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 20%;
}

#createCommunityName
{
	text-align: center;
	border-radius: 15px;
	margin: 8px;
	color: #FF7200;
	background-color: #23222A;
	border-color:  #FF7200;
	color:white;
}

#createCommunityButton {
	color:  #FF7200;
	background-color: #23222A;
	border-color: #FF7200;
}

.opacity {
	z-index: 15;
	background-color: black;
	width:150vh;
	height: 100vh;
	left: 350px;
	top: 0px;
	position: fixed;
	visibility: hidden;
	opacity: 70%;
}


@keyframes vempaca {
  0%{
    left: -350px;

  }
  100% {
    left: 0px;
  }
}

/* CHAT */

#chatBack{
	position: absolute;
	overflow: hidden;
	left: 350px;
	width: calc(100% - 350px);
  height: calc(100vh);
  background-color: #23222A;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: -1;
}

#noChat p{
	font-size: 36px;
	color: #3D3B49;
}

#chatField{
	display: none;
}

.chatfoda {
	display:flex;
	flex-direction: column;
	justify-content: justify;
	align-items: flex-start;
	width: calc(100% - 350px);
  height: calc(100vh - 66px);
  margin-left: 350px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.chatfoda .msg {
	min-width: 200px;
	max-width: 500px;
	padding: 15px;
	position: relative;
	border-radius: 15px;
	text-align: left;
	color: #23222A !important;
}

.chatfoda .msg.mine {
	margin: 5px 100px 5px auto;
	left: 90px;
	background-color: #FFCE0F;
}

.chatfoda .msg.other {
	margin: 5px auto 5px 100px;
	right: 90px;
	background-color: #FF6F00;
}

.chatfoda .msg:first-of-type {
	margin-top: auto;
}

.textField {
  width: calc(100% - 350px);
  height: 66px;
  background-color: #23222A;
  margin-left: 350px;
  display: flex;
	align-items: center;
	border-top: solid 1px #3D3B49;
}

.textBar input {
  height: 30px;
  width: 100%;
  margin-left: 5px;
  border: solid 1px #3D3B49;
	border-right: 0px;
	border-radius: 50px 0px 0px 50px;
	background-color: #23222A;
	color: #FF7200;
}

.textBar input:focus {
	outline: none;
}

.textBar{
	display: flex;
	width: calc(100% - 200px);
}

.textField img {
  width: 35px;
  height: 30px;
	padding: 1px;
	margin-right: 5px;
}

.textBar img {
	background-color: #23222A;
	border: 1px solid #3D3B49;
	border-left: 0px;
	border-radius: 0px 50px 50px 0px;
	padding: 1px;
}

.messageName{
	font-weight: bold;
}

.messageContent{
	max-width: 500px;
	word-break: break-all;
}

.hiddenMsg{
	font-style: italic;
	color: #808080;
}

.chatimage{
	height: 300px;
	width: 500px;
	object-fit: scale-down;
}

.arrow {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
	float: right;
	margin-left: 4px;
	cursor: pointer;
	opacity: 0;
	transition: 0.25s;
}

.msg:hover .arrow {
	transition: 0.25s;
	opacity: 1;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
/* TENTATIVA DE MENU CONTEXTUALIZADO MENSAGEM*/

#menuContextoMensagem {
	position:fixed;
  z-index:2;
  width:200px;
  background-color: #23222A;
  transform:scale(0);
  transform-origin:top right;
	font-size: 15px;
	height: 60px;
	display: block;
	border: solid 3px #d1d1d1;
	color: #FF6F00;
	text-align: center;
}

.contextMenuMensagem li{
	display: flex;
	flex-direction: column;
	flex: 0 0 0;
	height: 30px;
	font-size: 20px;
	justify-content: space-around;
	cursor: default;
}

#menuContextoMensagem.active {
	transform:scale(1);
  transition:transform 300ms ease-in-out;
}

.contextMenuMensagem li:hover {
  background-color: #555;
}

/* TENTATIVA DE MENU CONTEXTUALIZADO USU[A]*/

#menuContexto {
	position:fixed;
  z-index:2;
  width:200px;
  background:#23222A;
  transform:scale(0);
  transform-origin:top left;
	font-size: 15px;
	height: auto;
	display: block;
	border: solid 3px #FF6F00;
	color: #FF6F00;
	text-align: center;
}

.contextMenu li{
	display: flex;
	flex-direction: column;
	flex: 0 0 0;
	height: 30px;
	font-size: 20px;
	justify-content: space-around;
	cursor: default;
}

#menuContexto.active {
	transform:scale(1);
  transition:transform 300ms ease-in-out;
}

.contextMenu li:hover {
  background-color: #3D3B49;
}

/*MENU CONTEXTO COMUNIDADE */
#menuContextoComunidade {
	position:fixed;
  z-index:2;
  width:200px;
  background:#23222A;
  transform:scale(0);
  transform-origin:top left;
	font-size: 15px;
	height: auto;
	display: block;
	border: solid 3px #FF6F00;
	color: #FF6F00;
	text-align: center;
}

.contextMenuComunidade li{
	display: flex;
	flex-direction: column;
	flex: 0 0 0;
	height: 30px;
	font-size: 20px;
	justify-content: space-around;
	cursor: default;
}

#menuContextoComunidade.active {
	transform:scale(1);
  transition:transform 300ms ease-in-out;
}

.contextMenuComunidade li:hover {
  background-color: #3D3B49;
}

.header {
	display: flex;
	align-items: center;
}

.header img {
	height: 45px;
	width: 45px;
	margin: 15px;
	align-self: center;
	cursor: pointer;
}
.header p {
	margin: 15px;
	color:#FF7200;
	font-size: 24px;
	margin-left: 15px;
}

.input input {
	border: solid 1px #3D3B49;
	border-radius: 50px 0px 0px 50px;
	width: 250px;
	align-self:center;
	border-right: 0px;
	background-color: #23222A;
	color: white;

}

.input input:focus {
	outline: none;
}

.input img{
	width: 15px;
	height: 15px;
	border: solid 1px  #3D3B49;
	border-radius: 0px 50px 50px 0px;
	border-left: 0px;
	padding: 1px;
	background-color: #23222A;
}

.input {
	width:350px;
	height: 90px;
	display: flex;
	margin:auto;
	align-items: center;
	justify-content: center;

}

.friendBar {
	height: 100%;
}

.friendBar ul {
	display: block;
}

.friendBar ul li {
	color: white;
	display: flex;
	height: 80px;
	align-items: center;
	justify-content: center;
	border-top: solid 2px #a1a1a1;
  border-left: solid 2px #a1a1a1;
  border-right: solid 2px #a1a1a1;
	background-color: #363636;
}

.friendBar ul li:last-of-type {
	border-bottom: solid 2px #a1a1a1;
}

.friendBar ul li img {
	width: 30px;
	height: 30px;
	margin-left: 45px;
}

#comunityTab {
	display: block;
	position: fixed;
	z-index: 2;
	overflow-y: scroll;
  overflow-x: hidden;
	width: 400px;
	margin-left: 350px;
	height: 100vh;
	background-color: #1a1a1a;
	top: 0px;
	visibility: hidden;
}

.comunityTab .content{
	text-align: left;
	font-size: 24px;
	margin-top: 50px;
	margin-left: 10px;
	color: white;
}

.comunityTab p{
	margin-top: 10px;
	font-size: 30px;
	text-align: center;
	color: white;
}

/* SISTEMA */
#storage{
	display: none;
}

/* BLOQUEADOR DA PAGINA */
#pageBlocker{
	width: 100vw;
	height: 100vh;
	position: fixed;
	bottom: 0px;
	top: 0px;
	z-index: 9999;
}
/* AUTENTICACAO */
#authenticationScreen{
	position: absolute;
	display: flex;
	align-items:center;
	justify-content: center;
	width: 200px;
	height: 100px;
	left: calc(50vw - 100px);
	background-color: #3D3B49;
	border: 1px solid #FF6F00;
	border-radius: 10px;
	animation: authenticationSlide 1s forwards;
}

#authenticationScreen > div{
	height: 80px;
	display: flex;
	align-items:center;
	flex-direction: column;
}

#authenticationScreen > div > *{
	flex: auto;
	background-color: #3D3B49;
	color: #a1a1a1;
}

#authenticationScreen > div > *:focus {
	outline: none;
}
#authenticationScreen > div > * > input[type=text]{
	height: 30px;
	max-height: 30px;
	border: solid 1px #a1a1a1;
}

#authenticationScreen > div > * >input[type=button] {
	background-color: #3D3B49;
	border: solid 1px #a1a1a1;
	color: #a1a1a1;
}

@keyframes authenticationSlide {
	0%{
		top: -500px;
	}
	100%{
		top: calc(50vh - 50px);
	}
}

/* Editar grupo */
#editGroup{
	position: absolute;
	display: flex;
	align-items:center;
	flex-direction: column;
	justify-content: center;
	width: 200px;
	height: 100px;
	left: calc(50vw - 100px);
	background-color: #AAAAAA;
	border: 2px solid #202020;
	border-radius: 10px;
	animation: editSlide2 0.5s forwards;
}

#editGroup > *{
	margin: 4px;
}

@keyframes editSlide2 {
	0%{
		top: -500px;
	}
	100%{
		top: calc(50vh - 100px);
	}
}

/* Adicionar ao grupo */
#groupSelectMenu{
	position: absolute;
	display: flex;
	align-items:center;
	flex-direction: column;
	justify-content: center;
	width: 200px;
	height: 100px;
	left: calc(50vw - 100px);
	background-color: #AAAAAA;
	border: 2px solid #202020;
	border-radius: 10px;
	animation: editSlide2 0.5s forwards;
}

#groupSelectMenu > *{
	margin: 4px;
}

#groupSelectMenu > select{
	width: 80%;
}

@keyframes editSlide2 {
	0%{
		top: -500px;
	}
	100%{
		top: calc(50vh - 100px);
	}
}

/* Editar mensagem */
#editMessage{
	position: absolute;
	display: flex;
	align-items:center;
	justify-content: center;
	width: 400px;
	height: 200px;
	left: calc(50vw - 200px);
	background-color: #AAAAAA;
	border: 2px solid #202020;
	border-radius: 10px;
	animation: editSlide 0.5s forwards;
}

#editMessage > div{
	display: flex;
	align-items:center;
	flex-direction: column;
}

#editMessage > div > *{
	flex: auto;
}

#editMessage > div > textarea {
	resize: none;
}

@keyframes editSlide {
	0%{
		top: -500px;
	}
	100%{
		top: calc(50vh - 100px);
	}
}

/* ELEMENTOS GERAIS DA PAGINA */
#pageContainer{
	transition: 1s;
	overflow: hidden;
	height: 100vh;
}

::-webkit-scrollbar {
  width: 10px;
	background-color: #a1a1a1;
}

::-webkit-scrollbar-track {
  background:#3D3B49;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
